.audio_track, .question {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 2rem;
}
.audio_track {
    align-items: flex-start;
}
.audio_trackp1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.audio_trackp2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.audio_trackp2 span {
    background-color: #EAF2F9;
    padding: 5px;
    color: #4999F8;
}
.btn_bx {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
   
}
.btn_bx>div>button{
    background-color: #4999F8;;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: none;
}

@media screen and (max-width: 600px) {
    .audio_track{
        width: 100%;
        position: relative;
      
    }
    .fixedAudio{
        /* border:1px solid red !important; */
        top: 48px;
        left: 0;
        padding: 16px;
        z-index: 1200;
        position: fixed !important;
        box-shadow: 0 2px 13px 0 rgba(25, 25, 25, 0.06);
        justify-content: center;
        width: 100%;
        background-color: white;

       
        

    }
    .playIcon{
        /* font-size: rem !important; */
        margin-top: 4px;
    
    }
    .btn_bx>div{
        /* display: flex;
        align-items: center; */
    }
    .btn_bx>div>button{
        background-color: #4999F8;;
        /* border-radius: 50%; */
        width: 40px;
        height: 40px;
        border: none;
    }
}