.layout{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    height: calc(100vh - 120px);
    overflow: hidden;
}

.left_side{
    /* border:1px solid gray; */
    width: 50%;
    overflow-y: auto;
    height: calc(100vh - 100px);

}

.right_side{
    /* border:1px solid green; */
    /* border:1px solid gray; */
    width: 50%;
    background-color: #EAF2F9;
    overflow-y: auto;
    height: calc(100vh - 100px);
}

@media screen and (max-width: 600px) {
    .layout{
        flex-direction: column;
        padding: 1rem;
    }
    .left_side,.right_side{
        width: 100%;
    }
}
.quizBtn {
    margin-top: 2rem;
    background-color: #45D9D5;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 9999px;
    font-size: .8rem;
    font-weight: 600;
    border: none;
    outline: none;
}