@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* scrollbar */
@import '~simplebar-react/dist/simplebar.min.css';

/* carousel */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* lightbox */
@import '~yet-another-react-lightbox/styles.css';
@import '~yet-another-react-lightbox/plugins/captions.css';
@import '~yet-another-react-lightbox/plugins/thumbnails.css';

/* lazy image */
@import '~react-lazy-load-image-component/src/effects/blur.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

#menu-appbar{
    box-shadow:1px solid white !important;

}
button {
    cursor: pointer;
}

.btn__bx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.trans__Btn {
    box-shadow: 0 5px 5px lightgray;
    background-color: lightblue;
    color: #000;
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 9999px;
    font-size: .8rem;
    font-weight: 600;
    border: none;
    outline: none;
}