.card {
    /* width: 500; */
    padding: 1rem;
    background-color: #F4F8FC;
  }
  
  .selected {
    color: white !important;
    background-color: #62A7F8 !important;
  }
  .ques {
    font-size: 18px;
    font-weight: 500;
  }
  .optionBx {
    width: 100%;
    display: flex;
  }
  .option {
    background-color: white;
    padding: 1.3rem;
    margin: .5rem;
    border-radius: 5px;
    display: grid;
    justify-content: space-between !important;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
  }
  .option span { 
    font-size: 14px !important;
  }
