.page_body {
    width: 100%;
    min-height: calc(100vh);
    background-color: #79B3F8;
}
.cardBx {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 3rem 1rem;

}
.card {
    width: 100%;
    padding: 2rem;
}
.card h1 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
}
.card p {
    font-size: .9rem;
}
.btn__bx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.trans__Btn {
    box-shadow: 0 5px 5px lightgray;
    background-color: white;
    color: #000;
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 9999px;
    font-size: .8rem;
    font-weight: 600;
    border: none;
    outline: none;
}
.trans__Btn:hover{
    background-color: #79B3F8;
    color: white;
}
.text__field {
    width: 100%;
    margin: 0rem auto ;
    display: flex;
    flex-direction: column;
}
.text__field_consent{
    width: 100%;
    margin: 0rem auto ;
    display: flex;
    justify-content: center;
    /* gap:1rem; */
    align-items: flex-start;
    margin-top: 1rem;
    /* margin-left:.5rem; */
    /* padding-left: 1rem; */
    /* flex-direction: column; */
}
.text__field_inner{
    margin-top: 16px !important;
}
.title{
    font-weight: bold !important;
    font-size: 1rem !important;
}
.title_consent{
    font-weight: bold !important;
    font-size: .8rem !important;
    width: 60%;
    margin-left: -1rem;
}
.text{
    /* font-weight: bold;
    font-size: 1.6rem; */
    margin-bottom: 12px;
    font-weight: 400;
}

@media (min-width: 768px) {
    
    .card {
        width: 600px;
    }
    .text__field {
        width: 70%;
        display: flex;
        justify-content: center;
    }   
}

@media (max-width: 768px) {
    .cardBx{
        padding:3rem 5px;

    }
    .card {
 padding: 1rem .5rem;
    }
    .text__field {
        width: 100%;
        display: flex;
        justify-content: center;
    }   
    .title_consent{
        width: 100%;
    }
    .text__field_consent{
        padding-left: 0;
    }
}