.card {
    /* width: 500; */
    padding: 1rem;
    background-color: #F4F8FC;
  }
  
  .selected {
    color: white !important;
    background-color: #62A7F8 !important;
  }
  .question {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  .optionBx {
    width: 100%;
  }
  .option {
    background-color: white;
    width: 100%;
    padding: .5rem 1rem;
    margin: 5px 0;
    border-radius: 5px;
  }
  .option span { 
    font-size: 14px !important;
}