.container{
    display:'flex';
    flex-direction: row;
    justify-content:'center';
    align-items:'center';
    padding: 80px 60px;
}
.assessment__BtnBx {
    display: flex;
    justify-content: center;
    align-items: center;
}
.assessment__Btn {
    margin-top: 2rem;
    background: linear-gradient(rgb(69, 221, 151), rgb(59, 200, 135));
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 9999px;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    height: "48px";
    outline: none;
}
.heading{
font-size: 1.3rem;
 text-align: center;
 line-height: 1.235;
 font-weight: 600;
 margin-top: 2rem;
}
.paragraph{
    font-size: .9rem;
    align-self: auto;
    text-align: center;
}
.grid__image {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 600px) {
    .container {
        padding: 80px 20px;
        flex-direction: column-reverse;
    }
}
@media (min-width: 748px) {
    .heading {
        font-size: 2rem;
        margin-top: 0;
        text-align: left;
    }
    .paragraph {
        max-width: 468px;
        text-align: left;
        font-size: 1rem;
    }
    .assessment__BtnBx {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}