
.navbar {
  width: 100% !important;
  height: 92px;
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0 !important;
  z-index: 10;
  padding: 0 120px;
  position: fixed;
  /* background-color: white; */
}

.click__menu, .click__menu:hover {
  cursor: pointer;
  /* z-index: 1000; */
  background-color: skyblue;
  /* margin-top: .5rem; */
  color: white;
  padding: .7rem 1rem;
  border-radius: 9999px;
  font-size: .8rem;
  font-weight: 600;
  border: none;
  outline: none;
  text-transform: capitalize;
}



.close__menu {
  font-size: 2rem;
  cursor: pointer;
}

.nav__content {
  height: 100vh !important;
  width: 100% !important;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: top 0.5s ease;
  background-color: #131d25;
  color: blanchedalmond;
  padding-top: 66px;
}

@media (min-width:600px) {
 .navbar{
  display: none ;
 }
}

