
.navbar {
  width: 100% !important;
  height: 92px;
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0 !important;
  z-index: 10;
  padding: 0 120px;
  position: fixed;
  /* background-color: white; */
}

.click__menu {
  cursor: pointer;
  /* z-index: 1000; */
  color: skyblue;
  margin-top: 5rem;
  font-weight: bold;
}



.close__menu {
  font-size: 2rem;
  cursor: pointer;
}

.nav__content {
  height: 100vh !important;
  width: 100% !important;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: top 0.5s ease;
  background-color: #131d25;
  color: blanchedalmond;
  padding-top: 66px;
}

@media (min-width:600px) {
 .navbar{
  display: none ;
 }
}

