.navbar {
  width: 100% !important;
  /* height: 92px; */
  display: flex;
  border: "1px solid red";
  margin-top: 3rem;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0 !important;
  z-index: 10;
  position: fixed;
  /* background-color: white; */
}

.click__menu,
.click__menu:hover {
  cursor: pointer;
  /* z-index: 1000; */
  background-color: #63aafe;
  /* margin-top: .5rem; */
  color: white;
  padding: 1rem 1.3rem;
  border-radius: 9999px;
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  outline: none;
  text-transform: capitalize;
  /* width: fit-content; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 2rem;
  position: absolute;
  top:110px;
  
}

.close__menu {
  font-size: 2rem;
  cursor: pointer;
}

.nav__content {
  height: 100vh !important;
  width: 100% !important;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: top 0.5s ease;
  background-color: white;
  color: black;
  padding: .5rem;
  padding-top: 66px;
}

@media (min-width: 600px) {
  .navbar {
    display: none;
  }
  
}
@media (max-width: 600px) {
  .responsive_btn {
    margin-left: clamp(2rem,36vw,18rem)
  }
}
/* @media (max-width: 426px) {
  .responsive_btn {
    margin-left: 8rem !important ;
  }
}

@media (min-width: 350px) {
  .responsive_btn{
    margin-left: 5rem !important;
  }
}

@media (min-width: 320px) {
  .responsive_btn{
    margin-left: 3rem !important;
  }
} */
